

<app-big-card></app-big-card>
<div style="display: flex;margin: 15px; justify-content: center;">
  <h2>Melhores Receitas</h2>
</div>
<div class="lista__receitas" >
<app-small-card
featured="Tenha vida saudável"
link_image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkUFKTQdkWTy2uP1raSAmIi0VUhnM8DRoMyw&usqp=CAU"
recipe_title="Salada com legumes"
recipe_data="25 de setembro de 2022"
></app-small-card>
<app-small-card></app-small-card>
<app-small-card></app-small-card>
<app-small-card></app-small-card>
<app-small-card></app-small-card>
<app-small-card></app-small-card>
</div>
