.content-header {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  justify-content: center;
  padding: 10px;
  /* border: solid 2px blue; */
  margin-bottom: 5px;
  /* min-width: 360px; */
}

.header__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 10px;
  padding-right: 10px;
}

.header__links{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  /* border: solid 2px; */

}

.header__links > div > a{
  text-decoration: none;
}

.header__links > h4{
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
}

.itens__menu{
  margin: 6px;
  font-size: 14px;
  /* border: solid 1px blueviolet; */
}

.subscribe__button {
  border:solid 1px coral;
  margin-left: 10px;
  border-radius: 4px;
  color: coral;
  padding: 8px;
}

.search__in{
  height: 30px;
  border-radius: 15px;
  padding: 2px;
}

@media screen and (min-width: 420px) {

  .content-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .header__search {
    flex-direction: row;
    justify-content: space-between;
  }

  .header__links{
    flex-direction: row;
    justify-content: space-between;
  }
}
